@font-face {
  font-family: MotterCorpusStd;
  src: url("../fonts/MotterCorpusStd-Regular.otf") format("opentype");
}

@font-face {
  font-family: NunitoSans;
  src: url("../fonts/NunitoSans-Regular.ttf") format("opentype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  font-family: NunitoSans, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1264px;
  padding: 0 20px;
}

.header {
  margin-top: 10px;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  font-family: MotterCorpusStd;
  color: #0B4141;
  font-size: 26px;
  line-height: 31px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

li {
  list-style-type: none;
}

.nav-item {
  margin-left: 24px;
}

.nav-item a {
  text-decoration: none;
  color: #0B4141;
}

.nav-item .head-btn {
  color: #FFCCBC;
}

.nav-btn {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 48px;
  background: #0B4141;
  border-radius: 124px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 12px 43px;
}

.main-block-first {
  max-height: calc(100vh - 40px);
  background: no-repeat url(../img/ellipse.jpg);
  background-position: left;
  position: relative;
  z-index: -2;
}

.wrapper-first {
  padding-bottom: 100px;
  background: no-repeat url(../img/horse.svg);
  text-align: center;
  background-position: bottom;
  height: 800px;
  margin-top: 120px;
}

.title-content {
  position: relative;
  font-family: MotterCorpusStd;
  font-size: 120px;
  line-height: 128px;
  text-align: center;
  color: #FFCCBC;
  z-index: -1;
}

.title-content-black {
  position: relative;
  font-family: MotterCorpusStd;
  font-size: 120px;
  line-height: 128px;
  text-align: center;
  color: transparent;
  -webkit-background-clip: text;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(55%, #0B4141), color-stop(45%, #0B1F1F));
  background-image: linear-gradient(180deg, #0B4141 55%, #0B1F1F 45%);
}

.block-second {
  position: relative;
  margin: 0 auto;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.04)), to(rgba(0, 0, 0, 0.04))), #FFCCBC;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.04), rgba(0, 0, 0, 0.04)), #FFCCBC;
  background-blend-mode: color-burn, normal;
  mix-blend-mode: normal;
}

.wrapper-second {
  padding: 50px 50px;
  background: no-repeat center url(../img/manyhorses.svg);
}

.wrapper-second h2 {
  color: white;
  font-family: MotterCorpusStd;
  font-size: 80px;
  line-height: 96px;
  text-align: center;
}

.wrapper-second p {
  margin-top: 40px;
  font-family: NunitoSans;
  font-size: 24px;
  line-height: 32px;
  color: white;
  text-align: center;
}

.block-third {
  position: relative;
  background: #0b4141;
  z-index: 1;
}

.block-third-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-side {
  max-width: 50%;
  font-family: NunitoSans;
}

.left-side h2 {
  font-weight: 900;
  font-size: 68px;
  line-height: 72px;
  color: #ffccbc;
  margin-top: 100px;
}

.left-side p {
  margin-bottom: 40px;
  margin-top: 30px;
  max-width: 475px;
  font-size: 24px;
  line-height: 32px;
  color: #FFCCBC;
}

.third-btn {
  text-decoration: none;
  color: #ffccbc;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  border-radius: 124px;
  padding: 12px 43px;
  border: solid 1px #FFCCBC;
}

.right-side {
  max-width: 50%;
  margin-top: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.third-img {
  position: relative;
  z-index: 1;
}

.third-img img {
  width: 1200px;
  max-width: 96%;
}

.block-fourth {
  margin-top: 200px;
}

.block-fourth-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fourth-wrapper {
  max-width: 50%;
}

.fourth-wrapper img {
  max-width: 800px;
  width: 96%;
}

.content-fourth {
  max-width: 50%;
  font-family: Nunito Sans;
}

.content-fourth h2 {
  color: #ffccbc;
  font-weight: 900;
  font-size: 68px;
  line-height: 72px;
  margin-bottom: 50px;
}

.content-fourth p {
  font-size: 24px;
  line-height: 32px;
  color: #0B4141;
  margin-bottom: 30px;
}

.fourth-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fourth-btn a {
  text-decoration: none;
  color: #0B4141;
  font-family: NunitoSans;
  margin-left: 20px;
  margin-top: 5px;
  text-align: center;
}

.block-fourth-bottom {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-fourth-bot {
  max-width: 50%;
  position: static;
  font-family: Nunito Sans;
  color: #0B4141;
}

.content-fourth-bot h2 {
  font-weight: 900;
  font-size: 68px;
  line-height: 72px;
  margin-bottom: 50px;
}

.content-fourth-bot p {
  font-size: 24px;
  line-height: 32px;
}

.fourth-wrapper-bot {
  max-width: 50%;
}

.fourth-wrapper-bot img {
  max-width: 800px;
  width: 96%;
}

.block-five {
  margin: 0 auto;
  background: rgba(245, 245, 245, 0.6);
}

.five-title {
  max-width: 100%;
  padding-top: 100px;
}

.five-title h2 {
  margin-bottom: 80px;
  font-family: MotterCorpusStd;
  font-size: 80px;
  line-height: 96px;
  text-align: center;
  color: #FFCCBC;
}

.five-title p {
  margin-bottom: 50px;
  font-family: NunitoSans;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #0B4141;
}

.five-wrapper {
  position: relative;
  text-align: center;
  mix-blend-mode: overlay;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.five-wrapper img {
  width: 1440px;
  max-width: 96%;
}

.block-six {
  margin: 0 auto;
  background: url(../img/background-six.svg);
}

.six-wrapper {
  height: 100%;
  background: no-repeat url(../img/sixConfettis.svg);
}

.six-title {
  margin-bottom: 80px;
  padding-top: 100px;
  font-family: NunitoSans;
  font-weight: 900;
  font-size: 68px;
  line-height: 72px;
  text-align: center;
  color: #FFFFFF;
}

.six-content {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-review {
  font-family: NunitoSans;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 30px;
  padding: 20px;
  width: 33.3%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 8px;
}

.block-review p {
  font-size: 13px;
  line-height: 18px;
  color: #0B4141;
  margin-bottom: 10px;
}

.block-review img {
  width: 48px;
  height: 48px;
}

.name-role {
  margin-left: 10px;
}

.review-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.seven-block {
  background: center url(../img/confettis-seven.png);
}

.seven-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.seven-left-side {
  max-width: 50%;
}

.seven-left-side img {
  max-width: 800px;
  width: 96%;
  margin-top: 100px;
}

.seven-right-side {
  margin-top: 100px;
  max-width: 50%;
  position: relative;
  font-family: NunitoSans;
  color: #0B4141;
  margin-top: 250px;
}

.seven-right-side h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 68px;
  line-height: 72px;
}

.seven-right-side p {
  font-size: 24px;
  line-height: 32px;
  margin-top: 30px;
}

.seven-right-side a {
  color: #0b4141;
  text-decoration: none;
  width: 230px;
  text-align: center;
  border-radius: 124px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 12px 43px;
  border: solid 1px #0b4141;
}

.seven-btn {
  margin-top: 50px;
}

.eight-block {
  background: no-repeat right url(../img/Light.png);
}

.eight-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.eight-left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 50%;
  margin-top: 30px;
  position: relative;
  font-family: NunitoSans;
  color: #0B4141;
  margin-top: 100px;
}

.eight-left-side h2 {
  margin-top: 30px;
  font-weight: 900;
  font-size: 68px;
  line-height: 72px;
}

.eight-left-side p {
  margin-top: 30px;
  font-size: 24px;
  line-height: 32px;
}

.eight-left-side a {
  color: #0b4141;
  text-decoration: none;
  width: 230px;
  border-radius: 124px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 12px 43px;
  border: solid 1px #0b4141;
}

.eight-logo {
  text-align: center;
}

.eight-btn {
  margin-top: 50px;
}

.eight-right-side {
  max-width: 50%;
  margin-top: 150px;
}

.eight-right-side img {
  max-width: 1200px;
  width: 96%;
}

.footer-block {
  font-family: MotterCorpusStd;
  background: #0B4141;
}

.footer-wrapper {
  padding-top: 150px;
}

.footer-wrapper h2 {
  font-size: 80px;
  line-height: 96px;
  text-align: center;
  color: #FFCCBC;
  margin: 48px 0px;
}

.btn-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-footer a {
  font-family: MotterCorpusStd;
  font-size: 32px;
  color: #FFCCBC;
  text-decoration: none;
  text-align: center;
  padding: 21px 40px;
  border: 2px solid #FFCCBC;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 300px;
}

.btn-footer a img {
  max-width: 96%;
  margin-right: 20px;
}

.end {
  padding-top: 150px;
  margin-left: 100px;
  color: #FFCCBC;
}
