    @font-face {
        font-family: GothamBold;
        src: url("../fonts/GothamPro/gothampro_bold.ttf") format("opentype");
    }
    
    @font-face {
        font-family: Gotham;
        src: url("../fonts/GothamPro/gothampro.ttf") format("opentype");
    }
    
    @font-face {
        font-family: GothamBlack;
        src: url("../fonts/GothamPro/gothampro_black.ttf") format("opentype");
    }
    
    @font-face {
        font-family: RobotoBold;
        src: url("../fonts/Roboto/Roboto-Bold.ttf") format("opentype");
    }
    
    @font-face {
        font-family: Roboto;
        src: url("../fonts/Roboto/Roboto-Regular.ttf") format("opentype");
    }
    
    * {
        box-sizing: border-box;
        margin: 0;
    }
    
    @media (min-width: 767px) {
        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }
        .main-block {
            overflow: hidden;
            min-height: 500px;
            height: 100vh;
            max-height: 700px;
            background: rgba(63, 69, 220, 0.9);
        }
        .main-wrapper {
            padding-bottom: 100px;
        }
        .main-content {
            position: relative;
            font-family: GothamBlack;
            h2 {
                padding-top: 130px;
                position: relative;
                text-align: center;
                color: #FFFFFFE5;
                font-weight: 900;
                font-size: 190px;
                line-height: 120px;
            }
            img {
                position: absolute;
                z-index: 1;
                max-width: 615px;
                width: 100%;
                left: calc(50% + 44px);
                top: 1vh;
                transform: translateX(-50%);
            }
        }
        .main-tablet {
            position: absolute;
            max-width: 204px;
            width: 100%;
            top: calc(50% + 300px);
            left: calc(50% - 300px);
            p {
                padding-top: 10px;
                font-family: Roboto;
                font-size: 20px;
                line-height: 20px;
                text-align: center;
                letter-spacing: 0.02em;
                color: #1F1F1F;
                width: 204px;
                height: 64px;
                background: #FFCC00;
                border: 2px solid #000000;
                transform: rotate(-18.25deg);
            }
        }
        .second-block {
            background-color: rgba(255, 204, 0, 0.8);
            min-height: 700px;
            max-height: 900px;
            overflow: hidden;
        }
        .second-wrapper {
            position: relative;
        }
        .second-content {
            max-width: 400px;
            h2 {
                padding-top: 130px;
                margin-bottom: 40px;
                font-family: RobotoBold;
                font-weight: 500;
                font-size: 48px;
                line-height: 120px;
                text-align: left;
            }
            p {
                font-family: Roboto;
                font-size: 20px;
                line-height: 30px;
                text-align: left;
                margin-bottom: 70px;
            }
        }
        .second-btn {
            padding: 18px 47px;
            text-decoration: none;
            font-family: Roboto;
            font-size: 24px;
            text-align: center;
            color: #FFFFFF;
            border: 2px solid #000000;
            background-color: blue;
            transform: rotate(-0.11deg);
        }
        .image-side {
            position: relative;
        }
        .man-img {
            border-radius: 50% 50% 0 0 / 100% 100% 0 0;
            position: absolute;
            background: #97EAB9;
            width: 100%;
            max-width: 360px;
            left: 50%;
            transform: translateX(-60%);
        }
        .rocket-img {
            position: absolute;
            background: #FFB1A3;
            width: 358px;
            height: 340px;
            left: 70%;
            top: calc(50% - 280px);
            transform: translateX(-35%);
            border-radius: 50%;
            img {
                position: relative;
                left: calc(50% - 100px);
                transform: translateY(35%);
                width: 100%;
                max-width: 310px;
            }
        }
        .dog-img {
            position: absolute;
            background: #74C2D6;
            width: 264px;
            height: 252px;
            left: 90%;
            top: calc(50% - 510px);
            transform: translateX(-35%);
            border-radius: 50%;
            img {
                left: calc(50% - 100px);
                position: relative;
                transform: translateY(28%);
                width: 100%;
                max-width: 214px;
            }
        }
        .project-block {
            background: #74C2D6;
            min-height: 550px;
            max-height: 820px;
            font-family: Roboto;
        }
        #project_wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .project {
            position: relative;
            max-width: 30%;
            max-height: 526px;
            margin-top: 128px;
            margin-bottom: 116px;
            margin-left: 28px;
            background: #FFE9C8;
            border: solid 1px black;
            img {
                width: 100%;
            }
        }
        .project-date {
            margin-left: 11px;
            margin-top: 100px;
            font-size: 14px;
            line-height: 16px;
            text-align: left;
        }
        .project-content {
            margin-right: 22px;
            margin-left: 11px;
            padding-bottom: 100px;
            text-align: left;
            margin-top: 10px;
            font-size: 20px;
            line-height: 23px;
            color: #000000;
            a {
                position: absolute;
                bottom: 0;
                right: 0;
                margin-right: 20px;
            }
        }
        .project-btn {
            width: 102px;
            height: 27px;
            margin-top: 170px;
            margin-bottom: 27px;
            text-decoration: none;
            border: 2px solid #000000;
            background-color: blue;
            font-size: 14px;
            line-height: 24px;
            color: #FFFFFF;
            text-align: center;
        }
        .project-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 110px;
            overflow: hidden;
            position: absolute;
            top: calc(50% - 90px);
            left: calc(50% - 50px);
            p {
                text-align: center;
                margin-top: 10px;
                text-transform: uppercase;
            }
        }
        .project-icon {
            border: 2px solid #000000;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #FFCC00;
            img {
                text-align: center;
                position: relative;
                top: 15%;
                transform: translateX(30%);
                width: 100%;
                max-width: 40px;
            }
        }
    }
    
    @media(max-width: 767px) {
        .container {
            max-width: 520px;
            margin: 0 auto;
            padding: 0 20px;
        }
        .main-block {
            overflow: hidden;
            min-height: 320px;
            height: 100vh;
            max-height: 320px;
            background: rgba(63, 69, 220, 0.9);
        }
        .main-wrapper {
            padding-bottom: 40px;
        }
        .main-content {
            position: relative;
            font-family: GothamBlack;
            h2 {
                padding-top: 50px;
                position: relative;
                text-align: center;
                color: #FFFFFFE5;
                font-weight: 900;
                font-size: 60px;
                line-height: 120px;
            }
            img {
                position: absolute;
                z-index: 1;
                max-height: 160px;
                max-width: 146px;
                width: 100%;
                left: calc(50% + 14px);
                top: calc(50% - 28px);
                transform: translateX(-50%);
            }
        }
        .main-tablet {
            position: absolute;
            width: 100%;
            top: calc(50% + 80px);
            left: calc(50% - 80px);
            p {
                padding-top: 3px;
                font-family: Roboto;
                font-size: 6px;
                line-height: 5px;
                text-align: center;
                letter-spacing: 0.02em;
                color: #1F1F1F;
                width: 64px;
                height: 20px;
                background: #FFCC00;
                border: 2px solid #000000;
                transform: rotate(-18.25deg);
            }
        }
        .second-block {
            background-color: rgba(255, 204, 0, 0.8);
            min-height: 250px;
            max-height: 300px;
            overflow: hidden;
        }
        .second-wrapper {
            max-width: 300px;
            position: relative;
        }
        .second-content {
            text-align: center;
            h2 {
                padding-top: 19px;
                margin-bottom: 20px;
                font-family: RobotoBold;
                font-weight: 500;
                font-size: 20px;
                line-height: 56px;
                text-align: center
            }
            p {
                text-align: center;
                font-family: Roboto;
                font-size: 12px;
                line-height: 14px;
                margin-bottom: 50px;
            }
        }
        .second-btn {
            padding: 10px 24px;
            text-decoration: none;
            font-family: Roboto;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            color: #FFFFFF;
            border: 2px solid #000000;
            background-color: blue;
            transform: rotate(-0.11deg);
        }
        .image-side {
            position: relative;
        }
        .man-img {
            visibility: hidden;
        }
        .rocket-img {
            visibility: hidden;
        }
        .dog-img {
            visibility: hidden;
        }
        .project-block {
            background: #74C2D6;
            min-height: 300px;
            max-height: 500px;
            font-family: Roboto;
        }
        #project_wrapper {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .project {
            overflow: hidden;
            display: flex;
            align-items: center;
            position: relative;
            max-width: 100%;
            margin-top: 10px;
            max-height: 124px;
            background: #FFE9C8;
            border: solid 1px black;
            img {
                width: 41%;
            }
        }
        .project-date {
            margin-top: 10px;
            margin-left: 6px;
            font-size: 6px;
            line-height: 7px;
        }
        .project-content {
            margin-top: 6px;
            margin-right: 6px;
            margin-left: 6px;
            font-size: 8px;
            line-height: 9px;
            color: #000000;
            a {
                position: absolute;
                bottom: 0;
                right: 0;
                margin-right: 10px;
            }
        }
        .project-btn {
            width: 48px;
            height: 14px;
            padding-top: 4px;
            margin-bottom: 5px;
            text-decoration: none;
            border: 1px solid #000000;
            background-color: blue;
            font-size: 6px;
            line-height: 3px;
            color: #FFFFFF;
            text-align: center;
        }
        .project-container {
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 60px;
            position: absolute;
            transform: translateX(50%);
            top: calc(50% - 50px);
            left: calc(50% + 20px);
            p {
                text-align: center;
                margin-top: 6px;
                text-transform: uppercase;
            }
        }
        .project-icon {
            border: 1px solid #000000;
            width: 21px;
            height: 21px;
            border-radius: 50%;
            background-color: #FFCC00;
            img {
                right: 4%;
                position: relative;
                top: 18%;
                transform: translateX(10%);
                width: 100%;
                max-width: 10px;
            }
        }
    }
    
    @media(max-width: 420px) {
        .container {
            max-width: 520px;
            margin: 0 auto;
            padding: 0 20px;
        }
        .main-block {
            overflow: hidden;
            min-height: 320px;
            height: 100vh;
            max-height: 320px;
            background: rgba(63, 69, 220, 0.9);
        }
        .main-wrapper {
            padding-bottom: 40px;
        }
        .main-content {
            position: relative;
            font-family: GothamBlack;
            h2 {
                padding-top: 50px;
                position: relative;
                text-align: center;
                color: #FFFFFFE5;
                font-weight: 900;
                font-size: 60px;
                line-height: 120px;
            }
            img {
                position: absolute;
                z-index: 1;
                max-height: 160px;
                max-width: 146px;
                width: 100%;
                left: calc(50% + 14px);
                top: calc(50% - 28px);
                transform: translateX(-50%);
            }
        }
        .main-tablet {
            position: absolute;
            width: 100%;
            top: calc(50% + 80px);
            left: calc(50% - 80px);
            p {
                padding-top: 3px;
                font-family: Roboto;
                font-size: 6px;
                line-height: 5px;
                text-align: center;
                letter-spacing: 0.02em;
                color: #1F1F1F;
                width: 64px;
                height: 20px;
                background: #FFCC00;
                border: 2px solid #000000;
                transform: rotate(-18.25deg);
            }
        }
        .second-block {
            background-color: rgba(255, 204, 0, 0.8);
            min-height: 250px;
            max-height: 300px;
            overflow: hidden;
        }
        .second-wrapper {
            max-width: 300px;
            position: relative;
        }
        .second-content {
            text-align: center;
            h2 {
                padding-top: 19px;
                margin-bottom: 20px;
                font-family: RobotoBold;
                font-weight: 500;
                font-size: 20px;
                line-height: 56px;
                text-align: center
            }
            p {
                text-align: center;
                font-family: Roboto;
                font-size: 12px;
                line-height: 14px;
                margin-bottom: 50px;
            }
        }
        .second-btn {
            padding: 10px 24px;
            text-decoration: none;
            font-family: Roboto;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            color: #FFFFFF;
            border: 2px solid #000000;
            background-color: blue;
            transform: rotate(-0.11deg);
        }
        .image-side {
            position: relative;
        }
        .man-img {
            visibility: hidden;
        }
        .rocket-img {
            visibility: hidden;
        }
        .dog-img {
            visibility: hidden;
        }
        .project-block {
            background: #74C2D6;
            min-height: 300px;
            max-height: 500px;
            font-family: Roboto;
        }
        #project_wrapper {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .project {
            overflow: hidden;
            display: flex;
            align-items: center;
            position: relative;
            max-width: 100%;
            margin-top: 10px;
            max-height: 124px;
            background: #FFE9C8;
            border: solid 1px black;
            img {
                width: 41%;
            }
        }
        .project-date {
            margin-top: 10px;
            margin-left: 6px;
            font-size: 6px;
            line-height: 7px;
        }
        .project-content {
            margin-top: 6px;
            margin-right: 6px;
            margin-left: 6px;
            font-size: 8px;
            line-height: 9px;
            color: #000000;
            a {
                position: absolute;
                bottom: 0;
                right: 0;
                margin-right: 10px;
            }
        }
        .project-btn {
            width: 24px;
            height: 10px;
            padding-top: 3px;
            margin-bottom: 5px;
            text-decoration: none;
            border: 1px solid #000000;
            background-color: blue;
            font-size: 3px;
            line-height: 2px;
            color: #FFFFFF;
            text-align: center;
        }
        .project-container {
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 60px;
            position: absolute;
            transform: translateX(50%);
            top: calc(50% - 36px);
            left: calc(50% + 8px);
            p {
                text-align: center;
                margin-top: 6px;
                text-transform: uppercase;
            }
        }
        .project-icon {
            border: 1px solid #000000;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background-color: #FFCC00;
            img {
                right: 4%;
                position: relative;
                top: 18%;
                transform: translateX(10%);
                width: 100%;
                max-width: 6px;
            }
        }
    }